WingetUI Widget Provider/bin
WingetUI Widget Provider/obj
WingetUI Widget Provider/.vs
WingetUI Widget Provider/Widget Provider Package/obj
WingetUI Widget Provider/Widget Provider Package/bin
WingetUI Widget Provider/Widget Provider Package/.vs
WingetUI Widget Provider/Widget Provider Package.assets.cache
